What are Constraints in SQL? Types?

1.NOT NULL - Column cannot have a null value.
2.UNIQUE - Each value in a column is unique across all rows.
3.PRIMARY KEY - (UNIQUE + NOT NULL) Similiar to UNIQUE constraint but also signify that the column is primary key. And is used to uniquely identify the row in the table.
4.FOREIGN KEY - Values in a column matches value of the primary key in another table. Is to used to establish relation hip in the database.
5.CHECK - Allow custom role for data in a column
6.DEFAULT - 

Allows us Data Consistency and Accuracy.

Examples:
CREATE TABLE Employee(
    ID int not NULL,
    Name varchar(255)
    CONSTRAINT id_u UNIQUE(ID)
);
